*{margin:0;
box-sizing: border-box;
}
body{
    background-color: #008f39;
}

#icono{
    height:50px ;
    width: 4.5%px;
}

.btn_w{
    height: 55px;
    width: 55px;
    position: fixed;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background-color: #008f39;
    color:white;
    border-radius: 50px;
    border-color: white;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
}
#checkbtn
{
    width: 30px;
    height: 30px;
    display: none;
}
#check{
    width: 30px;
    height: 30px;
}

.menu_icon img {
    width: 30px;
    height: 30px;
    border-radius: 2px;
}
.menu_icon, #check{
    display: none ;
}

.logo-header{
    height: 90px;
    display: flex;
    position: relative;
    width: 4.5%;
    border-radius: 5px;
    margin-left: 0;
    
}

header{
    display: flex;
    background-color: #008f39;
    width: 100%;
}

.barra_de_navegacion{
    height: 100px;
    background-color:#008f39;
    width: 100%;
    justify-content: center;
    margin: auto;
   /* float:left;*/
    border-bottom:  solid;
    border-bottom-color:  gold;
}

.navbar-nav{
    width: 100%;
}
.navbar-nav ul{
    list-style: none;
    position: relative;
    display: inline-block;
    

}
.navbar-nav > li {
    display: inline-block;
    background-color:#008f39;
    text-align: center;
    position: relative;
    padding-top: 17px;
    
    }


.navbar-nav > li > a{
    color: white;
    padding: 20px;
    text-align:center;
    font-family: monospace;
    font-size: 22px;
    display: flex;
    text-decoration: none;
    display: block;
    border-radius: 10px;


    
}
@media screen and (max-width: 1287px){
    .navbar-nav > li >a
    {
        font-size: 12px;
    }
    #loc
    {
        font-size: 12px;
    }
}
.navbar-links > li >  a:hover{
    background: gold;
    color: #008f39;
    
}



@media screen and (max-width:550px){
    .checkbtn{
        display: block;
    }
    .menu_icon{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
    .nav-menu ul{
        display: block;
        position: fixed;
        left: -100%;
        top: 70px;
        width: 100%;
        height: 200vh;
        right: 0;
        border-radius: 2px;
        padding: 15px;
    }
    .nav-menu ul li{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 2rem;
        margin: 0;
        top: 10px;
        border: gold solid 2px;
        border-radius: 2px;
        right: 20px;
    }
   
    #check:checked ~ ul{
        left: 0;
        transition: all 0.25s;

    }

    
}


.grid{
    margin-top: 0;
    display: grid;  
    grid-template-columns:1fr 1fr 1fr;
    height: 20%;
    text-align: center;
    line-height: 200px;
   
}
@media screen and (max-width:500px){.grid{
    margin-top: 0;
    display: grid;  
    grid-template-columns:repeat(auto-fit,minmax(150px, 3fr));
    height: 20%;
    text-align: center;
    line-height: 200px;
   
}}

.cajas  {
    border-style: solid;
    border-color: #008f39;
    font-family: monospace;
    text-align: center;
    font-size: 30px;
    list-style: none;
    box-shadow: 5px 1px  10px rgba(0, 0, 0, 0.2);
    background-color: white;
    cursor: pointer;
}
.cajas {
    text-decoration: none;
    color:#008f39;
 }

 
 .cajas:hover{
    box-shadow: 10px 10px  30px rgba(0, 0, 0, 0.8);
    transform: translatey(-1%);
    background-color: gold;
    color:#008f39;
}
 



.slider{
   
    width: 100%;
    height: 700px;
    margin: 0;
    background-color:#008f39;
    overflow: hidden;
}

.slider ul{
    display: flex;
    width: 300%;
    animation: cambio 10s infinite linear;
    
}

.slider  li{
    
    left: 0;
    top: 0;
    width: 100%;
    list-style: none;
}

.slider img{
    width: 100%;
    height: 700px;
    object-fit:contain;
}


@keyframes cambio{
    0%{margin-left: 0;}
    30%{margin-left: 0;}

    35%{margin-left: -100%;}
    65%{margin-left: -100%;}

    70%{margin-left: -200%;}
    100%{margin-left: -200%;}
    
}



    .footer-links a:hover{
        color: #008f39;
    }
    
.botones{
       text-align: center;
       width: 100%;
       display: flex;
       height: 100px;
       margin-top: 50px;
    }



    #loc{
     font-family: monospace;
     color:white;
     font-size: 18px; 
     text-align: left; 
     padding: 10px;
     display: inline-block;
     list-style: none; 
    }

    #nav_temp{
        font-family: monospace;
        color:white;
        font-size: 18px; 
        display: inline-block;  
        list-style: none;
       }

    #clima{
        
        padding: 30px;
        margin:0 0 0 50px;
        
    }

    #caja_clima{
        float: right;
        position: absolute;
        width: 40%;
        right: 0;
    }

    #icon_img{
        font-family: monospace;
        color:white;
        font-size: 18px; 
        text-align: left;
        display: inline-block;
        list-style: none; 
       }
    .footer {
        background-color: #008f39;
        color: #fff;
        padding: 20px;
    }
    
    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .footer-logo {
        font-size: 24px;
        font-weight: bold;
    }
    
    .footer-links a {
        color: #fff;
        text-decoration: none;
        margin-right: 20px;
    }
    
    .footer-bottom {
        text-align: center;
        font-family: monospace;
        font-size: 1rem;
        margin-top: 20px;
    }
    
    @media (max-width: 768px) {
        .footer-content {
            flex-direction: column;
            text-align: center;
        }
    
        .footer-logo {
            margin-bottom: 10px;
        }
    
        .footer-links  {
            margin-top: 10px;
        }
    }

    .play{
        height: 80px;
        width: 200px;
    }
    ul {
        list-style: none;
    }


    .navbar {
        background-color:#008f39;
        border-bottom:  solid;
        border-bottom-color:  gold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        color: white;
    }
    
    .navbar-links {
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    
    .navbar-links li {
        margin-right: 20px;
    }
    
    .navbar-links a {
        text-decoration: none;
        color: white;
        color: white;
        padding: 20px;
        text-align:center;
        font-family: monospace;
        font-size: 22px;
        font-family: monospace;
        font-size: 22px;
        border-radius: 20px;
    }
    
    /* Estilo para el icono de la barra de navegación en pantallas pequeñas */
    .navbar-icon {
        display: none;
        flex-direction: column;
        cursor: pointer;
       
    }
    
    .bar {
        width: 25px;
        height: 3px;
        background-color: gold;
        margin: 3px 0;
    }
    
    /* Estilo para pantallas pequeñas */
    @media screen and (max-width: 880px) {
        .navbar-links {
            display: none;
            flex-direction: column;
            background-color: #008f39;
            position: absolute;
            top: 60px;
            left: 0;
            width: 100%;
            text-align: center;
        }
    
        .navbar-links.active {
            display: flex;
        }
    
        .navbar-icon {
            display: flex;
        }
    }


    .slider-container {

        width: 500px;
        height: 400px;
        overflow: hidden;
        position: relative;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        
       
        overflow: hidden;
        position: relative;
    }

    /* Estilos para las imágenes */
    .slider-image {
        width: 100%;
        height: 100%;
        position: absolute;
        transition: opacity 1s ease-in-out;
    }

    @media screen and (max-width: 525px){
        .slider-container {

           max-width: 80%;
            height: 200px;
            overflow: hidden;
            position: relative;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            
           
            overflow: hidden;
            position: relative;
        }
    }