
.icono{
    display: flex;
    float: left;
    width: 4.5%;
    margin-top: 5px;
}
*{
    margin:0 auto;
    box-sizing: border-box;
}
body{
    background-color: #641c34;
}
header{
    background-color: #008f39;
    display: flex;
    width: 100%;
    height: 100px;
}
.barra_de_navegacion{
    height: 100px;
    background-color:#008f39;
    width: 100%;
    justify-content: center;
    margin: auto;
    float:left;
    border-bottom:  solid;
    border-bottom-color:  gold;
    position: fixed;
  
  
}

.navbar-nav ul{
    list-style: none;
    
}
.navbar-nav > li {
    display: inline-block;
    background-color:#008f39;
    margin-left: 15px;
    position: relative;
    padding-top: 17px;
    }

.navbar-nav > li > a{
    color: white;
    padding: 20px;
    text-align:center;
    font-family: monospace;
    font-size: 22px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
}

.navbar-nav > li >  a:hover{
    background: gold;
    color: #008f39;
    
}
.cont_estandar{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: grey;
    margin-bottom: 20px;
    margin-top: 20px;
}

.estandar{
    width: auto;
    height: auto;
}

.estandar:hover{
    transform: scale(1.2);
    cursor:pointer;
   }

.titulo{
    text-align: center;
    font-size: 40px;
    font-family: monospace;
    color: white;
    background-color: #800040;}

 .img{
        display: block;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;}

        .img:hover{
            transform: scale(1.2);
            cursor:pointer;
           }

 .desc{
    font-family: monospace;
    font-size: 20px;
    color: white;
     margin: 25px;}

.titulos_item{
    margin-left: 30px;
    text-align: left;
    font-size: 25px;
    color: white;
    font-family: monospace;}

.titulo_intermedio{
    text-align: center;
    font-size: 35px;
    color: white;
    background-color:#800040;
    font-family: monospace;
}
.desc_2{
    text-align: center;
    font-family: monospace;
    color: white;
    font-size: 20px;
     margin: 25px;
}

.descarga{
    height: 55px;
    width: 55px;
    line-height: 55px;
    margin-top: 312px;
    bottom: 30px;
    background-color: #008f39;
    right: 30px;
    color:white;
    border-radius: 50px;
    border-color: white;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);

}

.descarga:hover{
    transform: translatey(-1%);
    color:#008f39;
    background-color: white;
}
       