.portada{
    display: flex;
    width: 70%;
    float: right;
    height: 200px;
}
.icono{
    display: flex;
    float: left;
    width: 10%;
}
*{
    margin:0 auto;
    box-sizing: border-box;
}
body{
    background-color: #cd966c;
}
header{
    background-color: #008f39;
    height: 200px;
}
.cont_estandar{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: grey;
    margin-bottom: 20px;
    margin-top: 20px;
}

.estandar{
    width: auto;
    height: auto;}

    .estandar:hover{
        transform: scale(1.2);
        cursor:pointer;
       }

 .titulo{
        text-align: center;
        font-size: 40px;
        font-family: monospace;
        background-color: #f5deb3;}

        .img{
            display: block;
            margin-top: 30px;
            margin-bottom: 30px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 10px;}
    
            .img:hover{
                transform: scale(1.2);
                cursor:pointer;
               }
    
     .desc{
        font-family: monospace;
        font-size: 20px;
         margin: 25px;}
    
    .titulos_item{
        text-align: left;
        font-size: 25px;
        font-family: monospace;}
    
    .titulo_intermedio{
        text-align: center;
        font-size: 35px;
        font-family: monospace;
    }
    .desc_2{
        text-align: center;
        font-family: monospace;
        font-size: 20px;
         margin: 25px;
    }