
.icon-gmail:before { content: '\e800'; } /* '' */
.icon-download:before { content: '\e801'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */
